# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Large data files
data/*.csv
data/*.parquet
*.zip

data/*.csv

# Notebook hidden metadata
*.ipynb_convert
